body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: rgb(219, 245, 245);
    overflow-x: hidden;
}

img {
  width: 100px;
  height: auto;
}

.container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-end;
     margin-top: 120px;
  }
  
.box {
    width: 100px;
    height: 100px;
    transition-duration: 200ms;
    transition-property: width;
    transition-timing-function: cubic-bezier(1,.11,.22,1.41);
    transition-delay: 20ms;
    display: flex;
    justify-content: left;
  
 
  }
 
  .text {
     margin: 30px;
     padding: 0px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 18px;
     text-align: center;
     color:antiquewhite;
  }
  a:link {
    color:goldenrod;
  }
.one:hover  {
    width: 400px;
    background: #e17b77;
    transition-timing-function: linear;
    
  }
   .two:hover {
    width: 400px;
    background: #3b5998;
    transition-timing-function: linear;
    
  }
  
  .three:hover {
    width: 400px;
    background: #007bb6; 
    transition-timing-function: linear;
  }
  
  .four:hover {
    width: 400px;
    background:#00aced ;
    transition-timing-function: linear;
  }
  .five:hover {
    width: 400px;
    background: #333;
    transition-timing-function: linear;
  }
  